.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
  background-color: #d1e0d8;
  padding: 32px 32px 40px 32px;
  border-radius: 32px;
  width: 393px;
  height: 551px;
}
.articleInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 700;
  font-size: 16px;
  color: #070721;
}
.title {
  font-weight: 700;
  font-size: 24px;
  color: #070721;
  margin-bottom: 15px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  background: #f7fffb;
  padding: 16px;
  border-radius: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 329px;
  height: 109px;
}

.articleTitle {
  font-weight: 700;
  font-size: 16px;
  color: #070721;
  margin-bottom: 9px;
}

.author {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  color: #070721;
}

.linkBtn {
  font-size: 20px;
  background: none;
  cursor: pointer;
  color: #2d2d2d;
}

.saveBtn {
  margin-top: 20px;
  width: 100%;
  background-color: #649179;
  color: white;
  border: none;
  border-radius: 64px;
  padding: 16px 0;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
