.recommendedWrapper {
  background-color: var(--green-light); /* фон тут */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
  background-color: #d1e0d8;
  padding: 32px 32px 40px 32px;
  border-radius: 32px;
  width: 393px;
}
.articleInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 700;
  font-size: 16px;
  color: #070721;
}
.recommendedTitle {
  font-weight: 700;
  font-size: 24px;
  color: #070721;
  margin-bottom: 15px;
}

.recommendList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.recommendItem {
  background: #f7fffb;
  padding: 16px;
  border-radius: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  /* width: 329px;
  height: 109px; */
}

.recommendArticleTitle {
  max-width: 300px; /* або будь-яка потрібна ширина */
  min-height: 40px; /* мінімальна висота */
  max-height: 48px; /* максимум 2 рядки (залежить від line-height) */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;

  -webkit-box-orient: vertical;
  word-break: break-word; /* перенос слів */
  font-size: 16px;
  font-weight: 700;
  color: #070721;
  line-height: 1.2; /* щоб точно вкласти 2 рядки */

  /* display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 56px;
  font-weight: 700;
  font-size: 16px;
  color: #070721;
  margin-bottom: 9px; */
  /* white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.recommendAuthor {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  color: #070721;
  /* white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.linkBtn {
  font-size: 20px;
  background: none;
  cursor: pointer;
  color: #2d2d2d;
}
.saveBtn {
  margin-bottom: 0;
  margin-top: 24px;
  width: 100%;
  background-color: #649179;
  color: white;
  border: none;
  border-radius: 64px;
  padding: 16px 0;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
