.paginationWrapper {
  display: flex;
  justify-content: center;
  /* margin: 24px 0; */
}

.pagination {
  width: 348px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.previousItem,
.nextItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.previousLink,
.nextLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--green);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
}

.previousLink:hover,
.nextLink:hover {
  background-color: var(--green-darker);
}

.disabled .previousLink,
.disabled .nextLink {
  background-color: var(--white);
  cursor: not-allowed;
  pointer-events: none;
}

.disabled .previousLink svg path,
.disabled .nextLink svg path {
  stroke: #9ca3af;
}

.pageItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageLink {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0 8px;
  background-color: transparent;
  color: var(--black);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.2s ease;
  border: 1px solid transparent;
  cursor: pointer;
}

.pageLink:hover {
  background-color: var(--white);
  border-color: var(--green);
}

.activePage .pageLink {
  background-color: var(--green);
  color: white !important;
  font-weight: 700;
  font-size: 16px;
}

.activePage .pageLink:hover {
  background-color: var(--green-darker);
}

.breakItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.breakLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #6b7280;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  cursor: default;
}

@media (min-width: 768px) {
  .previousLink,
  .nextLink,
  .pageLink {
    width: 40px;
    height: 40px;
  }
  .pageLink {
    font-weight: 700;
  }
}
