.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: var(--font-family);
  text-align: center;
  color: var(--black);
  border-radius: 32px;
  padding: 56px 16px 32px 16px;
  width: 362px;
  height: 305px;
  background: var(--green-light);
}

@media (min-width: 768px) {
  .modal {
    padding: 56px 32px 32px 32px;
    width: 420px;
    height: 243px;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.closeBtn {
  position: absolute;
  top: 21px;
  right: 37px;
  background: transparent;
  border: none;
  padding: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* @media (min-width: 1440px) {
  .closeBtn {
    top: 16px;
    right: 32px;
  }
} */
.closeIcon {
  stroke-width: 1px;
  stroke: var(--black);
  width: 24px;
  height: 24px;
}

.closeBtn:hover .closeIcon,
.closeBtn:focus .closeIcon {
  stroke: var(--black);
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.message {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: var(--black);
  margin-bottom: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
    gap: 27px;
  }
}

.btn {
  padding: 12px 16px;
  width: 330px;
  height: 46px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

@media (min-width: 768px) {
  .btn {
    width: 164px;
  }
}
.btnCancel {
  border-radius: 64px;
  border: 1px solid var(--black);
}

.btnCancel:hover {
  background: #e5e5e5;
}

.btnCancel:focus {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  background: var(--white);
}

.btnLogout {
  border-radius: 64px;
  background: var(--green);
}

.btnLogout:hover {
  background: var(--green-darker);
}
.btnLogout:focus {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  background: var(--green);
}
