.section_title_wrapper {
  display: flex;
  flex-direction: column;
}

.section_title {
  height: 55px;
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  margin-bottom: 16px;
}

.top_bar {
  height: 33px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.articles_count {
  font-weight: var(--font-weight-bold);
  font-size: 18px;
}

.filters {
  width: 169px;
  height: 33px;
}
