.section {
  width: 100%;
  margin: 32px 0;
}

.title {
  font: var(--font-primary);
  text-align: left;
  color: var(--black);
  font-size: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
  gap: 16px;
}

.allArticlesLink {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: var(--green-darker);
}

.arrorIcon {
  width: 24px;
  height: 24px;
  stroke: var(--green-darker);
  transform: rotate(-45deg);
}

.articlesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
}

.loader {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .articlesList {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .articlesListItem {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1440px) {
  .title {
    font-size: 40px;
    margin-bottom: 0;
  }

  .allArticlesLinkContainer {
    display: block;
  }

  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .articlesListItem {
    width: calc((100% - 48px) / 3);
  }
}
