.section {
  margin: 32px 0;
}

.title {
  text-align: left;
  font-size: 32px;
  margin-bottom: 16px;
  color: #000;
  font: var(--font-primary);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

.allArticlesLink {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: var(--green-darker);
}

.arrorIcon {
  width: 24px;
  height: 24px;
  stroke: var(--green-darker);
  transform: rotate(-45deg);
}

.articlesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .allArticlesLinkContainer {
    display: none;
  }
  .articlesList {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }
  .allArticlesLinkContainer {
    display: block;
  }

  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
