.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

@media only screen and (min-width: 1440px) {
  .form {
    flex-direction: row-reverse;
    align-items: start;
  }
}

.uploadInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .uploadContainer {
    flex-direction: row;
    align-items: start;
  }
}

.uploadBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 233px;
  border: none;
  border-radius: 12px;
  background-color: var(--gray-light);
  cursor: pointer;
  overflow: hidden;
}

.uploadBoxDesktop {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .uploadBoxDesktop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 391px;
    height: 233px;
    border: none;
    border-radius: 12px;
    background-color: var(--gray-light);
    cursor: pointer;
    overflow: hidden;
    flex-shrink: 0;
    margin-top: 29px;
  }
}

@media only screen and (min-width: 1440px) {
  .uploadBox {
    display: none;
  }
}

.icon {
  stroke-width: 1px;
  stroke: var(--black);
  fill: none;
  width: 162px;
  height: 136px;
}

.inputBox {
  width: 100%;
}

.title {
  font-weight: var(--font-weight-regular);
  font-size: 18px;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: none;
}

.inputText {
  width: 100%;
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  background-color: var(--white);
  padding: 12px;
  font-size: 18px;
  outline: none;
}

.inputText::placeholder {
  font-size: 18px;
  color: var(--gray);
}

.inputTextArea {
  width: 100%;
  min-height: 393px;
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  background-color: var(--white);
  padding: 12px;
  resize: none;
  overflow: hidden;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
  font-size: 18px;
  outline: none;
}

.inputTextArea::placeholder {
  font-size: 18px;
  color: var(--gray);
}

.btn {
  width: 100%;
  border-radius: 64px;
  padding: 12px 16px;
  background-color: var(--green);
  color: var(--white);
  border: none;
  font-size: 16px;
}

.previewContainerDesktop {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .previewContainerDesktop {
    display: block;
    width: 391px;
    flex-shrink: 0;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 29px;
  }
}

.previewContainerMobile {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .previewContainerMobile {
    width: 340px;
    flex-shrink: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .previewContainerMobile {
    display: none;
  }
}

.previewImage {
  width: 100%;
}

.errorDesktop {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .errorDesktop {
    display: block;
  }
}

.errorMobile {
  display: block;
}

@media only screen and (max-width: 1439px) {
  .errorMobile {
    display: none;
  }
}
