.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    display: block;
    flex-direction: row;
    gap: 16px;
  }
}

.btn {
  border-radius: 64px;
  width: 100px;
  height: 46px;
  cursor: pointer;
  transition: 200ms;
  color: var(--green);
  border: none;
}

.login {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  color: var(--green-darker);
  background: transparent;
    text-align: center;
  padding: 12px 16px;
}

.join {
  background: var(--green);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  padding: 12px 16px;
}

.join:hover {
  background: var(--green-darker);
}
