.articlePage {
    font-family: var(--font-primary);
    margin: 48px 0;
}

.articleTitle {
    font-weight: 700;
    font-size: 32px;
    color: var(--black);
}

.articleImg {
    border-radius: 24px;
    width: 100%;
    height: 183px;
    margin: 32px 0;
}

.articleText {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.55;
    color: var(--black);
    margin-bottom: 24px;
}

.future {
    background-color: var(--green-light);
    width: 100%;
    height: 100%;
    border-radius: 32px;
}

@media (min-width: 768px) {

    .articleTitle {
        font-size: 40px;
    }

    .articleImg {
        height: 358px;
    }
}

@media (min-width: 1440px) {

    .articleImg {
        height: 624px;
    }

    .articleText {
        width: 808px;
    }

    .content {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .future {
        width: 393px;
    }
}