.heroSection {
  padding-top: 15px;
  margin-bottom: 36px;
}

/* Контейнер включает текст и изображение */
.heroContainer {
  display: flex;
  flex-direction: column;
}

/* Изображение – в mobile вверху */
.heroImage {
  width: 100%;
  height: 333px;
  background-image: url('../../assets/images/hero/hero-mob.webp');
  background-repeat: no-repeat;
  background-position: center;
  order: 0;
}

@media (min-resolution: 2dppx), (min-device-pixel-ratio: 2) {
  .heroImage {
    background-image: url('../../assets/images/hero/hero-mob2x.webp');
  }
}

/* Контент с заголовком и кнопками */
.heroContent {
  order: 1;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-sizing: border-box;
  text-align: left;
}

/* Заголовок */
.heroTitle {
  font-family: var(--font-family);
  font-size: 39px;
  color: #374f42;
  margin-bottom: 30px;
}

/* Выделенное слово */
.italicBold {
  font-family: 'Merienda', sans-serif;
}

/* Кнопки – мобильная вертикальная колонка */
.heroButtons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Универсальные стили для кнопки */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 100%;
  max-width: 361px;
  height: 57px;
  border-radius: 64px;
  transition: all 0.3s ease;
  text-decoration: none;
  box-sizing: border-box;
}

/* Примари кнопка */
.btnPrimary {
  background: #649179;
  color: var(--white);
  border: none;
}
.btnPrimary:hover {
  background: #4f7460;
}

/* Секондари кнопка */
.btnSecondary {
  border: 1px solid #374f42;
  color: #374f42;
  background: transparent;
}
.btnSecondary:hover {
  background-color: #e8f1ec;
}

/* Планшетная версия */
@media (min-width: 768px) {
  .heroSection {
    padding-top: 22px;
  }

  .heroContainer {
    flex-direction: row;

    justify-content: space-between;
  }

  .heroImage {
    height: 385px;
    background-image: url('../../assets/images/hero/hero-tab.webp');
    background-position: right;
    background-size: contain;
    order: 1;
  }

  @media (min-resolution: 2dppx), (min-device-pixel-ratio: 2) {
    .heroImage {
      background-image: url('../../assets/images/hero/hero-tab2x.webp');
    }
  }

  .heroContent {
    width: calc(100% - 430px);
    order: 0;
  }

  .heroTitle {
    /* font-size: 36px; */
    margin-bottom: 40px;
    min-width: 372px;
  }

  .btn {
    max-width: 249px;
  }

  .heroButtons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

/* Десктоп версия */
@media (min-width: 1440px) {
  .heroSection {
    padding-top: 48px;
  }

  .heroImage {
    height: 562px;
    background-image: url('../../assets/images/hero/hero-des.webp');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }

  .heroContent {
    width: calc(100% - 806px);
    background: none;
    border-radius: 0;
  }

  .heroTitle {
    font-weight: 800;
    font-size: 92px;
    line-height: 1;
    letter-spacing: -0.02em;
    min-width: 600px;
  }

  .heroButtons {
    flex-direction: row;
    align-items: flex-start;
    position: static;
    margin-top: 56px;
  }

  .btn {
    max-width: 184px;
  }
}
