.authorsList {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  justify-items: center;
}

@media (min-width: 768px) {
  .authorsList {
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .authorsList {
    grid-template-columns: repeat(4, 1fr);
  }
}
