.authorsList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
}

.authorsListItem {
  width: calc((100% - 16px) / 2);
}

@media (min-width: 768px) {
  .authorsList {
    gap: 24px;
  }

  .authorsListItem {
    box-sizing: border-box;
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1440px) {
  .authorsListItem {
    width: calc((100% - 72px) / 4);
  }
}
