.container {
  width: 100%;
  padding: 85px 31.5px;
}

.loginWrapper {
  width: 100%;
  background-color: var(--green-light);
  border-radius: 32px;
  padding: 48px 32px;
}

.loginTitle {
  font-weight: var(--font-weight-bold);
  height: 44px;
  font-size: 32px;
  text-align: center;
  color: var(--black);
  margin-bottom: 20px;
}

.fieldset {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.loginLabel {
  font-weight: var(--font-weight-regular);
  display: block;
  font-size: 12px;
  color: var(--black);
  margin-bottom: 4px;
}

.input {
  display: block;
  width: 100%;
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  padding: 8px;
  height: 43px;
  transition: border-color ease-in-out 0.3s;
}

.emailField {
  margin-bottom: 20px;
}

.passwordField {
  display: block;
  margin-bottom: 27px;
}

.input::placeholder {
  font-size: 16px;
  line-height: 1.55;
  color: var(--gray);
  transition: color ease-in-out 0.3s;
}

.input:hover,
.input:focus {
  outline: none;
}

input:hover::placeholder,
input:focus::placeholder {
  color: var(--black);
}

.errorMessage {
  font-size: 12px;
  color: var(--red) !important;
  margin-top: 4px;
  font-weight: var(--font-weight-regular);
}

.inputError {
  border-color: var(--red) !important;
}

.inputError::placeholder {
  color: var(--red) !important;
}

.emailField {
  margin-bottom: 16px;
}

.passwordField {
  position: relative;
}

.btn {
  display: block;
  width: 100%;
  height: 38px;
  text-align: center;
  margin: 0 auto;
  background: var(--green);
  border-radius: 64px;
  padding: 8px;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  color: var(--white);
  outline: none;
  border: none;
  transition: background-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
}

.btn:hover {
  background-color: var(--green-darker);
}

.btn:focus {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  background-color: var(--green);
}

.link {
  display: block;
  text-align: center;
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 1.55;
  margin-top: 20px;
}

.span {
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
}

@media (min-width: 768px) {
  .container {
    padding-top: 232px;
    padding-bottom: 232px;
  }

  .loginWrapper {
    max-width: 522px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-top: 172px;
    padding-bottom: 152px;
  }

  .loginWrapper {
    max-width: 392px;
  }
}
