.link {
  position: relative;
  font-size: 12px;
  text-decoration: none;
  color: var(--green-darker);
  font-weight: 700;
  transition: color 0.3s ease;
  padding: 4px 0;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  border-bottom: 1px solid var(--green-darker);
  padding: 0px 0px 4px 0px;
}

.link:hover::after {
  transform: scaleX(1);
}

.active {
  border-bottom: 1px solid var(--green-darker);
  padding: 12px 0px 4px 0px;
  width: 34px;
  height: 20px;
}

.active::after {
  transform: scaleX(1);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

@media only screen and (min-width: 1440px) {
  .list {
    flex-direction: row;
  }
}
