.modal {
  position: fixed;
  padding: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form {
  font-family: var(--font-primary);
  background-color: var(--green-light);
  padding: 56px 32px 32px 32px;
  border-radius: 32px;
  max-width: 361px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: var(--black);
}

@media (min-width: 768px) {
  .form {
    min-width: 499px;
  }
}

@media (min-width: 768px) {
  .form {
    min-width: 600px;
  }
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  display: block;
  font-size: 14px;
  line-height: 1.55;
  color: var(--black);
  margin-bottom: 24px;
}

.input {
  border: 1px solid var(--gray);
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  transition: border-color ease-in-out 0.3s;
}

.btn {
  display: block;
  padding: 12px 16px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  border-radius: 64px;
  outline: none;
  border: none;
  transition: background-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
}

.btnCancel {
  border: 1px solid var(--black);
  background-color: var(--white);
  margin-bottom: 24px;
}

.btnAdd {
  background: var(--green-light);
  color: var(--white);
}

.btnCancel:hover {
  background: #e5e5e5;
}

.btnCancel:focus {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  background: var(--white);
}

.btnAdd:hover {
  background: var(--green-darker);
}
.btnAdd:focus {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  background: var(--green);
}
