.profilePage {
  width: 100%;
  margin-top: 46px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.title {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  color: var(--black);
  margin-bottom: 24px;
}

.avatar {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.name {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 32px;
  text-align: center;
  color: var(--black);
}

.btnSubscribe {
  width: 100%;
  height: 40px;
  border-radius: 64px;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  color: var(--white);
  background-color: var(--green);
}

.articles {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: 18px;
  color: var(--black);
}

.tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.tabBtn {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.tabBtn:hover {
  border-color: #4e54c8;
  color: #4e54c8;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: start;
  }

  .info {
    flex-direction: row;
    justify-content: start;
    gap: 24px;
  }

  .articles {
    white-space: nowrap;
  }

  .nameWrapper {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .name {
    text-align: start;
  }

  .btnSubscribe {
    max-width: 148px;
  }
}

@media screen and (min-width: 1280px) {
  .avatar {
    width: 137px;
    height: 137px;
  }
}
