.creators {
  width: 100%;
  background-color: var(--white);
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  margin-bottom: 36px;
}

.header {
  margin-bottom: 16px;
}

.title {
  font-family: var(--font-primary); 
  font-size: 32px;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 16px;
}

.link {
  font-size: 16px;
  font-weight: 700;
  width: 170px;
  color: var(--green-darker);
  text-decoration: none;
}

.icon {
  width: 16px;
  height: 16px;
  stroke: var(--green-darker);
  transform: rotate(-45deg);
}

.creatorsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .title {
    margin-bottom: 0px;
  }

  .link {
    display: none;
  }

  .creatorsList {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
  }

  .link {
    display: inline-block;
  }

  .icon {
    width: 17px;
    height: 17px;
    fill: var(--green-darker);
  }

  .title {
    font-size: 40px;
  }

  .creatorsList {
    grid-template-columns: repeat(6, 1fr);
  }
}
