.creators {
  padding: 0px 16px;
  background-color: #fff;
}

.header {
  margin-bottom: 16px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  width: 199px;
  color: #000;
  margin-bottom: 16px;
}

.link {
  font-size: 16px;
  font-weight: 700;
  width: 170px;
  color: #374f42;
  text-decoration: none;
}

.creatorsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .title {
    margin-bottom: 0px;
  }

  .link {
    display: none;
  }

  .creatorsList {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
  }

  .link {
    display: inline-block;
  }

  .title {
    font-size: 40px;
    width: 249px;
  }
}
