.container {
  padding-top: 128px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border-radius: 24px;
  background-color: #d1e0d8;
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #070721;
  margin-bottom: 20px;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #d1e0d8;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 0;
}

.buttonIcon {
  stroke: #070721;
  stroke-width: 3;
  fill: none;
}

.closeButton:hover,
.closeButton:focus {
  transform: scale(1.15);
  outline: none;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.avatarLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 136px;
  border-radius: 50%;
  background-color: #4e7f6d;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.avatarLabel:hover {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.cameraIcon {
  stroke-width: 2px;
  stroke: #070707;
  fill: none;
}

.inputHidden {
  display: none;
}

.submitBtn {
  width: 100%;
  height: 38px;
  padding: 8px;
  background-color: #649179;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  color: #f7fffb;
  border: none;
  border-radius: 64px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitBtn:disabled {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  background: #649179;
  opacity: 0.3;
  cursor: not-allowed;
}

.submitBtn:hover:not(:disabled) {
  background-color: #374f42;
}

.error {
  color: #ff4d4d;
  margin-bottom: 12px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .container {
    padding-top: 136px;
    padding-bottom: 136px;
  }

  .form {
    max-width: 522px;
    margin: 0 auto;
    padding: 48px 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-top: 189px;
    padding-bottom: 189px;
  }

  .form {
    max-width: 392px;
  }
}
