.link {
  width: 100%;
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 262px;
  border-radius: 50%;
  margin-bottom: 16px;
  object-fit: cover;
  flex-shrink: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-size: clamp(16px, 5vw, 24px);
  font-weight: 700;
  color: var(--black);
  text-align: center;
}

@media (max-width: 330px) {
  .name {
    font-size: 12px;
  }
}
