.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 172px;
  min-height: 221px;
  margin: 0 auto;
}

.image {
  width: 148px;
  height: 148px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}

.name {
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
  text-align: center;
}

@media (min-width: 768px) {
  .card {
    width: 286px;
    height: 335px;
  }
  .image {
    width: 262px;
    height: 262px;
  }
}
