.authorsPage {
  width: 100%;
  margin-top: 48px;
}

.authorsPageTitle {
  text-align: left;
  margin-bottom: 16px;
  color: var(--black);
  font-weight: 700;
  font-size: 40px;
}

.authorsPageLoadMoreBtn {
  margin-top: 16px;
  padding: 18px 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  border: none;
  border-radius: 64px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--green);
  width: 94%;
  text-align: center;
}

.authorsPageLoadMoreBtn:hover {
  background-color: var(--green-darker);
}

@media (min-width: 768px) {
  .authorsPageLoadMoreBtn {
    width: 340px;
  }
}

@media (min-width: 1440px) {
  authorsPageLoadMoreBtn {
    width: 390px;
  }
}
