.container {
  width: 100%;
  padding-left: 16.5px;
  padding-right: 16.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginWrapper {
  width: 100%;
  background-color: var(--green-light);
  border-radius: 32px;
  padding: 48px 32px;
}

.loginTitle {
  font-weight: var(--font-weight-bold);
  height: 44px;
  font-size: 32px;
  text-align: center;
  color: var(--black);
  margin-bottom: 20px;
}

.registerText {
  max-width: 278px;
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 1.55;
  text-align: center;
  color: var(--black);
  margin: 0 auto 20px;
}

.fieldset {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.emailField,
.nameField,
.passwordField {
  display: block;
  margin-bottom: 16px;
}

.loginLabel {
  font-weight: var(--font-weight-regular);
  display: block;
  font-size: 12px;
  color: var(--black);
  margin-bottom: 4px;
}

.input {
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  padding: 8px;
  height: 43px;
  transition: border-color ease-in-out 0.3s;
}

.passwordConfirmField {
  margin-bottom: 27px;
}

.input::placeholder {
  font-size: 16px;
  line-height: 1.55;
  color: var(--gray);
  transition: color ease-in-out 0.3s;
}

.input:hover,
.input:focus {
  outline: none;
}

input:hover::placeholder,
input:focus::placeholder {
  color: var(--black);
}

.errorMessage {
  font-size: 12px;
  color: var(--red) !important;
  margin-top: 4px;
  font-weight: 400;
}

.inputError {
  border-color: var(--red) !important;
}

.inputError::placeholder {
  color: var(--red) !important;
}

.passwordField {
  position: relative;
}

.btn {
  display: block;
  width: 100%;
  height: 38px;
  text-align: center;
  margin: 0 auto;
  background: var(--green);
  border-radius: 64px;
  padding: 8px;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  color: var(--white);
  outline: none;
  border: none;
  margin-bottom: 20px;
  transition: background-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
}

.btn:hover {
  background-color: var(--green-darker);
}

.btn:focus {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  background-color: var(--green);
}

.link {
  display: block;
  text-align: center;
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 1.55;
  height: 25px;
}

.span {
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .loginWrapper {
    max-width: 522px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .loginWrapper {
    max-width: 392px;
  }
}
