.exit {
  position: relative;
  z-index: 1101;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit svg {
  width: 32px;
  height: 32px;
  stroke-width: 1px;
  stroke: var(--green-darker);
  fill: none;
}

.create {
  background: var(--green);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  padding: 12px 16px;
  border-radius: 64px;
  border: none;
  width: 161px;
  height: 46px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.wrp {
  display: flex;
  gap: 16px;
}
.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.divider {
  width: 1px;
  height: 39px;
  background: var(--green-darker);
  margin-left: 16px;
}
