.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-color: var(--green-light);
  max-width: 361px;
  height: 492px;
  border-radius: 32px;
  gap: 12px;
}

.image {
  width: 100%;
  max-height: 233px;
  border-radius: 24px;
}

.authorName {
  font-size: 16px;
  color: var(--black);
}

.title {
  max-width: 264px;
  font-size: 24px;
  color: var(--black);
}

.articlePreview {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-size: 16px;
  color: var(--black);
  font-weight: var(--font-weight-regular);
  line-height: 1.55;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.learnLink {
  font-size: 16px;
  color: var(--green-darker);
  gap: 8px;

  border: 1px solid var(--green-darker);
  border-radius: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;
}

.learnLink:hover {
  color: var(--white);
  background-color: var(--green);
  border-color: var(--green);
}

@media only screen and (min-width: 768px) {
  .article {
    max-width: 340px;
  }
}

@media only screen and (min-width: 1440px) {
  .article {
    max-width: 392px;
  }
}
